<section class="register">
    <div class="register_content">
        <div class="logoImg">
            <img src="/img/logo.png" alt="ChatGram">
        </div>
        {{> messages}}
        <div class="form">
            <form action="/login" method="POST">
                <div>
                    <input type="email" name="email" placeholder="Enter Email">
                </div>
                <div>
                    <input type="password" name="password" placeholder="Enter Password">
                </div>
                <div class="register_button">
                    <input type="submit" value="Login">
                </div>
                <div class="alert_login">
                    <a href="/register">Create an account</a>
                </div>
            </form>
        </div>
    </div>
</section>