* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins;
  background-color: #2d9e69;
}
img {
  width: 250px;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #2d9e69;
}
.register_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.75);
}
.form form div input {
  padding: 13px 35px;
  background: #f4f8f7;
  border: 0.2px solid #aaaaaa;
  margin: 10px;
  border-radius: 5px;
  width: 350px;
  font-size: 16px;
  outline: none;
}

.form form div input::placeholder {
  font-size: 15px;
}

.form form .register_button {
  display: flex;
  align-items: center;
  margin-left: 70px;
  width: 200px;
}
.form form .register_button input {
  background: #2d9e69;
  color: #eeeeee;
  font-size: 16px;
}

.alert_login {
  margin: 15px 15px 0 15px;
}

.alert_login a {
  margin-left: 91px;
  text-decoration: none;
}

.alert {
  padding: 10px;
  background: rgb(240, 173, 78, 0.5);
  width: 100%;
  margin: 5px;
}
